<header>

</header>

<body>
    <h1> clase formulario </h1>
    <form>
        <label for="fname">
            Nombre
        </label>
        <input type="text">
        <br><br>

        <label for="fsurname"> Apellido </label>
        <input type="text">
        <br> <br>

        <label for="fage"> Edad </label>
        <input type="text">
        <br><br>

        <label for="fnationality"> Nacionalidad </label>
        <input type="text">
        <br><br>
        
        <label for="fpassword"> password </label>
        <input type="password">
    </form>
</body>
<footer>

</footer>